<%- include('./includes/head', {pageTitle: 'An error occured'}) %>
</head>
<body>
  <%- include('./includes/header') %>
  <main>
    <h1>Not Authorized</h1>
    <p class="server-error">You're not authorized!</p>
    <p><a href="/" class="btn">Back to safety!</a></p>
  </main>
</body>
</html>