h1 {
  text-align: center;
  color: var(--color-gray-300);
}

form {
  max-width: 25rem;
  margin: var(--space-8) auto;
  padding: var(--space-4);
  background-color: var(--color-gray-600);
  border-radius: var(--border-radius-medium);
  text-align: center;
}

form a {
  color: var(--color-primary-200);
}


form a:hover,form a:active {
  color: var(--color-primary-400);
}

.password-container input{
  background: transparent;
  outline: none;
}

.password-container{
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-radius: var(--border-radius-small);
}

.password-container .show-icon, 
.password-container .hide-icon{
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem; 
}

.password-container .hide-icon{
  display: none;
}