<%- include('../../shared/includes/head', {pageTitle: 'All products'}) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>All Products</h1>
    <p>this will sho the list of products later!!!</p>
  </main>
</body>
</html>